body {
    font-size: 1em;
    line-height: 1.5em;
    background-color: #EBEBF3;
/*    word-break: break-all;*/
    font-family: Arial;
    
/*    margin-bottom: 60px;*/
    margin: 10px 10px 60px 10px;
}

span {
    background-color: #EBEBF3 !important;
    font-family: Arial !important;
}

a {
    text-decoration: none;
    word-break: break-all;
}

audio {
    width: 90%;
    display: block;
    margin: 10px auto 10px auto;
}


img,table {
    max-width: 100%;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 25px;
}

pre {
    font-size: 9pt;
    font-family: Courier New, Arial;
    border: 1px solid #ddd;
    border-left: 5px solid #6CE26C;
    background: #f6f6f6;
    padding: 5px;
}

.more_about {
    color: red;
}

.more_about a {
    font-weight: bold;
}

#title_div {
    margin-bottom: 30px;
}

#title_div b {
    font-size: 20px;
    word-break: normal;
}


#pub_info {
    font-size: 14px;
    color: #707070;
}

.author {
    color: #087221;
    font-weight: bold;
}


/*** syntaxhighlighter ***/

.syntaxhighlighter { -webkit-text-size-adjust: none; }


/*** night mode ***/

.night {
    background-color: #2B2B2B;
    color: #CCC;
}

.night span {
    background-color: #2B2B2B !important;
    color: #CCC !important;
}

.night a {
    color: #15A230;
}

.night pre {
    background-color: #2B2B2B !important;
    color: #CCC !important;
}


/*** software ***/

#software_logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#recommend_tag {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#software_buttons {
    width: 100%;
    float: left;
}

#software_buttons>div {
    width: 33%;
    float: left;
    text-align: center;
}

#software_buttons button {
    width: 80%;
}


#software_information tr th {
    white-space: nowrap;
    vertical-align: top;
}

#software_information tr td {
    word-break: break-all;
}

